* {
    cursor: url('/static/images/cursor/default.png'), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 加载中动画 */
.loading-overlay {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1005;
  }
.loading-spinner {
border: 8px solid rgba(255, 255, 255, 1);
border-top: 8px solid #6966FF;
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 1s linear infinite;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
#loading-animation{
width: 360px;
height: 360px;
}
#loading-text{
font-size: 20px;
font-weight: bold;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #1E1E2F;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    z-index: 1;
}

header {
    width: 100%;
    background-color: none;
    padding: 20px;
    display: flex;
    align-items: center; /* 垂直居中 */
}

.home {
    flex: 1; 
}

.center {
    flex: 1; 
    text-align: center; 
}
.center-text{
    font-size: 18px;
    font-weight: bold;
}
nav {
    display: flex;
    gap: 10px;
    height: 36px; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    background-color: #6966FF;
    border-radius: 5px;
    font-size: 16px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.main-content {
    flex: 1;
    width: 100%;
    max-width: 1080px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%; /* 确保容器占满父元素的宽度 */
    border-radius: 12px 12px 0 0;
    background-color: #4F4C64
}

.tab-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px; /* 调整内边距以适应布局 */
    cursor: url('/static/images/cursor/point.png'), pointer !important;
    margin: 0;
    border-radius: 8px 8px 0 0;
    flex: 1; /* 让按钮填满可用空间 */
    text-align: center; /* 居中文本 */
    transition: background-color 0.3s
}

.tab-btn.active {
    background-color: #6966FF;
    border-radius: 8px 8px 0 0;
}

.tab-content {
    width: 100%;
    background-color: #353646;
    padding: 20px;
    border-radius: 0 0 12px 12px;
    display: none;
}

.tab-content.active {
    display: block;
}

.tip {
    margin-bottom: 10px;
    font-size: 14px;
    color: #b0b0b5;
}

.green-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #16B57F;
    border-radius: 50%;
    margin-right: 5px;
}

.auto-generate {
    color: #6966FF;
    cursor: url('/static/images/cursor/point.png'), pointer !important;
}

.title-input, .content-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2A2B3A;
    border: none;
    color: #fff;
    border-radius: 8px;
}

.content-input {
    font-family: 'Arial', sans-serif;
    height: 250px;
    resize: none;
    padding: 5px; /* 确保插入点与文本对齐 */

    
}

.file-upload {
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
    padding: 30px;
    background-color: #2A2B3A;
    border: 2px dashed #6966FF;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: url('/static/images/cursor/point.png'), pointer !important;
    font-size: 16px;
}

.upload-box {
    text-align: center;
    color: #6966FF;
}

.file-types {
    color: #b0b0b5;
    font-size: 16px;
}

.file-preview {
    margin: 20px 0;
}

.preview-box {
    margin-top: 12px;
    background-color: #2A2B3A;
    padding: 20px;
    border-radius: 8px;
    color: #b0b0b5;
}
.cutscene-container{
    display: flex;
    align-items: center;
}

/* 选项框样式 */
.options {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    
}
/* 添加断点按钮容器 */
.cut-scene-btn-container{
    width: 200px;
    display: flex;
    margin-left: auto;
    height: 48px;
    gap : 10px;
}
#cutsceneBtn{
    width: 100%;
    color: #FFF;
    background-color: #6966FF;
    border-radius: 8px;
    border: none; 
    box-shadow: none; 
}
#cutoffsceneBtn{
    width: 100%;
    color: #FFF;
    background-color: red;
    border-radius: 8px;
    border: none; 
    box-shadow: none; 
}
#addcutsceneBtn{
    width: 100%;
    color: #FFF;
    background-color: #16B57F;
    border-radius: 8px;
    border: none; 
    box-shadow: none; 
}
#hiddenText{
    color: FFF 50%;
    font-size: 14px;
}
.cutscene-marker{
    background-color: #16B57F; 
    color: #fff; /* 白色文字 */
    padding: 2px 8px;
    border-radius: 12px;
    margin : 0 5px;
}
.quantity-options {   
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px dashed #6966FF; 
    border-radius: 8px;
    padding: 10px; 
    width: fit-content; 
}

.quantity-btn { 
    color:#FFF;
    border-radius: 8px;
    background: none;
    border: none; /* 移除默认边框 */
    box-shadow: none; /* 移除默认阴影 */
    padding: 10px 20px;
}

.quantity-btn.active {
    background-color: #4F4C64;
    border-radius: 8px;
}

.submit-btn-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin-top: 20px; /* 可选：增加一些顶部间距 */
    
}

.submit-btn {
    /* 按钮的样式 */
    width:50%;
    padding: 10px 20px;
    background-color: #6a5af9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: url('/static/images/cursor/point.png'), pointer !important;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #5a4ae8; /* 鼠标悬停时的背景颜色 */
}
/* 网格背景 */
body::before {
    content: "";
    background-image: url('/static/images/Grid.png'); /* 网格图片路径 */
    background-position: center;
    background-size: cover; /* 调整为contain可保持网格原始比例 */
    background-repeat: no-repeat; /* 不重复显示网格 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* 确保网格位于内容下方 */
}